
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

:root {
  --background-color-headerFooter: #1C3879;
  --color-headerFooter: #ebebeb;
  --background-color-main: #f6f6f6;
  --border-cards-section:  solid #dcdcdc;
}

/*Contenedores Grid*/
.contenedor-grid { 
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 2.2fr 0fr;
  grid-auto-columns: 0.5fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  align-content: center;
  width: 100vw auto;
  height: 100vh auto;
  grid-template-areas:
    "nav-area"
    "main-area"
    "footer-area";
}

.nav-area {  
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo-area logo-area"
    "navbar-area redes-area";
  grid-area: nav-area;
}

.logo-area { grid-area: logo-area; }

.navbar-area { grid-area: navbar-area; }

.redes-area { grid-area: redes-area; }

.footer-area { grid-area: footer-area; }

.main-area {  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "form-area contact-area";
  grid-area: main-area;
}

.form-area { grid-area: form-area; }

.contact-area { grid-area: contact-area; }

/*Fin contenedores grid*/  

/*AREA BARRA NAVEGACIÓN*/ 

.nav-responsive-area {
  display: none;
}

.nav-area {
  background-color: var(--background-color-headerFooter);
}

.nav-area ul {
    display: flex;
    flex-direction: row;
    list-style: none;   
    justify-content: center;
    font-size: 1rem; 
    margin-bottom: 0px;
}

.nav-area ul li {
  display: flex;

}

.nav-area ul li a {
    color: var(--color-headerFooter);
    text-decoration: none;
    padding-right: 4rem;
    transform: color 1s;
}

.logo-area {
  text-align: center;
}

.logo-area img {
  width: 15vw;
  padding-top: 1%;
}

.navbar-area {
  align-self: center;
}

.navbar-area a:hover {
  color: #8d8d8d;
  animation: aumentado 0.6s;
}

.redes-area {
  align-self: center;
  display: flex;
}

.redes-area ul li a {
  padding-right: 2em;
}

.redes-area i {
    font-size: 1.5em;
    transition: color 1s;
}

.redes-area i:hover {
  color: #8d8d8d;
  animation: aumentado 0.6s;
}

.carrito-compras {
  text-decoration: none;
  padding-left: 2em;
  padding-right: 2em;
  align-self: center;
}

.carrito-compras i {
  color: var(--color-headerFooter);
}

.carrito-compras i:hover {
  animation: none;
}

/*MAIN*/

.main-area {
    padding: 100px;
    min-height: auto;
    display:flex;
    align-items: center;
    background-color: azure;
    
   
}

.img {
    
    display: flex;
    width: 100%;
    max-height: 300px;
    border: #1C3879;
    margin: auto;
 }

 .contenido-area img {
    width: 310px;
    border-radius: 5px;
    float: left;
    text-align: right;
    margin: 15px;

 } 



/*FOOTER*/

.footer-area {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-headerFooter);
  justify-content: space-evenly;
  padding-top: 1em;
  padding-bottom: 1em;
}

.footer-area p {
  color: var(--color-headerFooter);
  text-align: center;
  margin: 0;
}

.text-footer {
  font-size: 2rem;
}

.copyright {
  font-size: 0.8rem;
}

.redes-footer ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-top: 2%;
}

.redes-footer a {
  color: var(--color-headerFooter);
}

.redes-footer i {
  font-size: 2.5em;
  color: var(--color-headerFooter);
  transition: color 1s;
}

.footer-area i:hover {
  color: #8d8d8d;
  animation: aumentado 0.6s;
}

/*Animaciones*/
@keyframes aumentado  {
  /*redes sociales*/  
      0% {}
      25%{transform: scale(1.0),}
      50%{transform: scale(1.1);}	
      75%{transform: scale(1.1);}
      100%{transform: scale(1.0);}
  }

  /*Responsive*/

  @media (max-width: 1100px) {
    .contenedor-grid {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 5fr 0fr;
    grid-auto-columns: 0.5fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
      "nav-area"
      "main-area"
      "footer-area";
  }
  
  .nav-area {  
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo-area";
    grid-area: nav-area;
  }
  
  .logo-area { grid-area: logo-area; }
  
  .navbar-area { grid-area: navbar-area; }
  
  .redes-area { grid-area: redes-area; }
  
  .footer-area { grid-area: footer-area; }
  
  .main-area {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.9fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "form-area"
      "contact-area";
    grid-area: main-area;
  }
  
  .form-area { grid-area: form-area; }
  
  .contact-area { grid-area: contact-area; }

  .nav-responsive-area { grid-area: 1 / 1 / 2 / 2; }
  .burguer-res-area { grid-area: 1 / 1 / 2 / 2; }
  .logo-res-area { grid-area: 1 / 2 / 2 / 3; }
  .carrito-res-area { grid-area: 1 / 3 / 2 / 4; }
  
  .logo-area, .navbar-area, .redes-area, .carrito-compras {
    display: none;
  }

  .nav-responsive-area {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;

  }

  .burguer-res-area i { 
    padding-right: 1em;
    font-size: 1.5em;
    color: var(--background-color-main);
  }

.logo-res-area {
  text-align: center;
}

  .logo-res-area img {
    width: 60%;
  }
  .carrito-res-area i { 
    color: var(--background-color-main);
    padding-left: 1em;
    font-size: 1.2em;
  }

  .form-area {
    text-align: center;
    padding: 5em;
    width: 100vw;
    place-self: center;
    }

    .form-datos {
      text-align: center;
    }

    .form-logotitle {
      justify-content: center;
    }

    .form-datos iframe {
      width: 60vw;
    }

  .contact-area {
    align-items: center;
    padding-top: 0%;
  }

  .form-datos {
    padding-bottom: 6%;
  }

  .footer-area p {
    margin: 0;
  }

  @media (max-width: 600px) {
    .form-area {
      padding: 10%;
    }

    .btn-primary {
      width: 50%;
    }
    
    .form-datos iframe {
      width: 80vw;
    }

    .footer-area p {
      font-size: 0.8em;
    }
  }
}
